<div class="card mb-3 shadow-sm">
    <h3 class="p-2 border-bottom mb-0">Out Players</h3>
    <table id="playersTable" class="table table-striped mb-0 table-bordered">
        <thead>
            <tr class="px-3">
                <th scope="col" class="table-info">Player Name</th>
                <th scope="col" class="table-info">R</th>
                <th scope="col" class="table-info">B </th>
                <th scope="col" class="table-info">4s</th>
                <th scope="col" class="table-info">6s</th>
                <th scope="col" class="table-info">W</th>
                <th scope="col" class="table-info">STRK</th>

            </tr>
        </thead>
        <tbody id="playersTableBody">
            <!-- Table rows will be dynamically added here -->
        </tbody>
    </table>
</div>
