<div>
    <h4 class="p-2">Bowling</h4>
    <div class="card overflow-hidden">
        <table class="table mb-0">
            <thead>
                <tr>
                    
                    <th class="table-info col-8">Player</th>
                    <th class="table-info">O</th>
                    <th class="table-info">M</th>
                    <th class="table-info">R</th>
                    <th class="table-info">W</th>
                    <th class="table-info">ECON</th>
                </tr>
            </thead>
            <tbody id="playerScoreboardBody" >

            </tbody>
        </table>
    </div>
</div>