<div class="list-group my-3">
    <div class="list-group-item list-group-item-action list-group-item-primary">Quick Links</div>
    <a href="/cricket/teams/" target="_blank" class="list-group-item list-group-item-action">Teams</a>
    <a href="/cricket/players/" target="_blank" class="list-group-item list-group-item-action">Players</a>
    <a href="/cricket/leagues/" target="_blank" class="list-group-item list-group-item-action">Leagues</a>
</div>

<div class="card p-2">
    <h5 class="m-0 border-bottom pb-2">Bugs & Works</h5>
    <ol>
        <li class="fs-6 border-bottom pb-1 mb-1">
            Make playin eleven table functional, only eleven player shoold be visible on playinXI but we need to have bench players in backend so it can allow to add 15 players in backend for every team
        </li>
        <li class="fs-6 border-bottom pb-1 mb-1"> 
            Work on second inning
        </li>
        <li class="fs-6 border-bottom pb-1 mb-1"> 
           Move partnership to the scorecard
        </li>
        <li class="fs-6 border-bottom pb-1 mb-1"> 
            show second inning data to the graph
         </li>
         <li class="fs-6 border-bottom pb-1 mb-1"> 
            update the scorecard once second inning is started
         </li>
    </ul>
</div>