<h4 class="p-2">Out Players</h4>
<div class="card mb-3 overflow-hidden">
    <table id="playersTable" class="table mb-0">
        <thead>
            <tr class="px-3">
                <th scope="col" class="table-info col-8">Player Name</th>
                <th scope="col" class="table-info">R</th>
                <th scope="col" class="table-info">B </th>
                <th scope="col" class="table-info">4s</th>
                <th scope="col" class="table-info">6s</th>
                <th scope="col" class="table-info">STRK</th>

            </tr>
        </thead>
        <tbody id="battingPlayerStats">
            <!-- Table rows will be dynamically added here -->
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center p-2">
        <h6>Total Extras:</h6>
        <div id="totalExtras" ></div>
    </div>
</div>